<div class="login-wrapper ">
  <form
    class="form-login"
    [formGroup]="signInForm"
    (ngSubmit)="login(signInForm)"
  >
    <div class="form-group" style="font-size: x-large">
     Login
    </div>
    <div class="form-group">
      <div class="input-group flex-nowrap border-bottom">
        <div class="input-group-prepend">
          <span
            class="input-group-text"
            ><i class="far fa-user-circle"></i
          ></span>
        </div>
        <input
          type="text"
          formControlName="u_Id"
          class="form-control border-0"
          [(ngModel)]="userId"
          placeholder="User Id"
          aria-label="UserID"
          aria-describedby="addon-wrapping"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group flex-nowrap border-bottom">
        <div class="input-group-prepend">
          <span
            class="input-group-text"
            ><i class="fas fa-lock"></i
          ></span>
        </div>
        <input
          type="password"
          formControlName="pass"
          value="password"
          [(ngModel)]="password"
          class="form-control border-0"
          placeholder="Password"
        />
      </div>

    </div>
    <div class="form-group form-check float-left d-inline-block">
      <input
        type="checkbox"
        class="form-check-input"
      />
      <label class="form-check-label text-muted" for="exampleCheck1"
        >Remember me</label
      >
    </div>
    <button
      type="submit"
      class="btn bg-btn1 btn-lg btn-block"
      [disabled]="!signInForm.valid"
    >
      LOGIN
    </button>
  </form>
</div>
